#plexi doorschijnend
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0010", ATTRS{serial}=="A413637303735140C101", SYMLINK+="tty.UM_1”

#plexi mat
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0010", ATTRS{serial}=="7523233343535180F1B1", SYMLINK+="tty.UM_2”

#euromaker
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0010", ATTRS{serial}=="741333535373519081B1", SYMLINK+="tty.UM_3”

#oranje
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0010", ATTRS{serial}=="A413637303735160B1D1", SYMLINK+=“tty.UM_4”

#blauw
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0010", ATTRS{serial}=="7523233343535180D080", SYMLINK+=“tty.UM_5”
